/PROYECTOS/proyectofinalInfo/proyectofinalInfo/settings/base.py
/PROYECTOS/proyectofinalInfo/proyectofinalInfo/settings/local.py
/PROYECTOS/proyectofinalInfo/proyectofinalInfo/settings/__pycache__
/PROYECTOS/proyectofinalInfo/proyectofinalInfo/__pycache__
/db.sqlite3