{% extends "base.html" %}
{% block contenido %}
<section class="container" style="margin-top: 5%;">
    <form method="POST" action="{% url "apps.blog_auth:login" %}" class="form-signin">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesión</h1>
        <label for="id_username" class="sr-only">Usuario</label>
        <input type="text" id="id_username" class="form-control" placeholder="Usuario" name="username" required autofocus>
        <label for="id_password" class="sr-only">Contraseña</label>
        <input type="password" id="id_password" class="form-control" placeholder="Contraseña" name="password" required>
        <div class="checkbox mb-3"></div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    </form>
</section>
{% endblock %}