{% extends 'base.html' %}
{% load static %}
{% block contenido %}
<section class="container">
  {% for noticia in noticias %}
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">{{noticia.titulo}}</h2>
        <p class="lead">{{noticia.contenido}}</p>
      </div>
      <div class="col-md-5">
        <img src="{{MEDIA_ROOT}}{{noticia.img}}" width="500" alt="">
      </div>
      <p><a class="btn btn-secondary" href="{% url 'noticiasdetalle' id=noticia.id %}">Leer más &raquo;</a></p>
    </div>

    <hr class="featurette-divider">
  {% endfor %}
</section>
<!-- /END THE FEATURETTES -->
{% endblock %}